aside {
	border: 1px dashed grey;
	padding: 10px;
	font-style: oblique;
	margin-left: 10%;
	margin-right: 10%;
}

#avatar {
	margin-right: 20px;
	float: left;
	width: 150px;
	display: inline;
}

#aboutme {
	float: left;
}