#logo {
	width: 10%;
	float: left;
	margin: 2%;
	position: fixed;
}

h1 {
	font-family: 'Skranji', cursive;
	float: top;
	font-size: 60px;
	margin: 2%;
	border: 5px solid red;
	position: fixed;
}

h2 {
	font-family: 'Neutraface', sans-serif;
}

p {
	font-family: 'News Gothic', 'Myriad', 'Tahoma', sans-serif;
}

